<div class="container">
  <div class="form__card">
    <form class="form" [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
      <h1 class="form__title">Recuperar contraseña</h1>
      <div class="form__control">
        <input
          class="control__input"
          type="email"
          formControlName="correo"
          placeholder="Email"
        />
        <label class="control__label" for="input-field">Email</label>
        <span class="control__span"></span>
      </div>
      <button
        class="form__btn"
        type="submit"
        [disabled]="recuperarUsuario.invalid"
      >
        Recuperar
      </button>
      <button class="form__btn form__btn" routerLink="/login">Volver</button>
    </form>
    <div class="form__info">
      <h1 class="info__title">Gluky users</h1>
      <p class="info__paragraph">
        Sistema para la administración de usuarios de prueba.
      </p>
    </div>
  </div>
</div>
