<button class="agregar" [routerLink]="['/list-P/',id_instancia]">volver</button>

<div class=" container">
  <h1>{{titulo}}</h1>
  <form [formGroup]="createPrograma" (ngSubmit)="agregarEditarProgramas()">
    <input type="text" placeholder="nombre" formControlName="nombre">
    <select formControlName="pais">
      <option value="Mexico">Mexico</option>
      <option value="Colombia">Colombia</option>
      <option value="Panama">Panama</option>
      <option value="Ecuador">Ecuador</option>
      <option value="Chile">Chile</option>
      <option value="Guatemala">Guatemala</option>
      <option value="Peru">Peru</option>
      <option value="Costa Rica">Costa Rica</option>
      <option value="Honduras">Honduras</option>
      <option value="Nicaragua">Nicaragua</option>
      <option value="Republica Dominicana">Republica Dominicana</option>
    </select>
    <button class="submit">Agregar</button>
  </form>
</div>
